# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Arquivo .gitignore para projetos Raspberry Pi Pico

# Credenciais
/config.h          # Arquivo de configuração com chaves
/secrets/          # Pasta com dados sensíveis
*.env              # Arquivos de ambiente
*.key              # Chaves privadas

# Build
build
build-*
build_*          # Pasta de compilação
*.uf2              # Binários do Pico
*.elf              # Arquivos de debug
*.bin              # Outros binários

# Editor/IDE
.vscode         # Configurações do VS Code
.idea             # Configurações do JetBrains IDE

# Sistema
.DS_Store          # Arquivos do macOS
Thumbs.db          # Arquivos do Windows

# outros
cmake-*
_dps